[submodule "models/ggml"]
	path = models/submodules/ggml
	url = https://github.com/ggerganov/ggml
[submodule "models/llama.cpp"]
	path = models/submodules/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
[submodule "models/submodules/ggllm.cpp"]
	path = models/submodules/ggllm.cpp
	url = https://github.com/cmp-nct/ggllm.cpp
